<main class="shop-page">
	<header class="intro">
		<div class="intro__wrapper">
			<h1 class=" intro__title">COATS</h1>
			<p class="intro__info">Collection 2023</p>
		</div>
	</header>
	<section class="shop container">
		<section class="shop__filter filter">
			<form id='product-filter-form'>
				<div class="filter__wrapper">
					<b class="filter__title">Категории</b>
					<ul class="filter__list">
						{% for category in categories %}
							<li>
								<label class='filter__list-item'>
									<input {% if selectedCategory == category.id %} checked {% endif %} type="radio" name="id_category" value="{{ category.id }}">
									<span>{{ category.name }}</span>
								</label>
							</li>
						{% endfor %}

					</ul>
				</div>
				<div class="filter__wrapper">
					<b class="filter__title">Фильтры</b>
					<div class="filter__range range">
						<span class="range__info">Цена</span>
						<div class="range__line" aria-label="Range Line"></div>
						<div class="range__res">

							{% for key,range in priceRange %}
								<span data-start='{{ totalPriceRange[key] }}' data-value='{{ priceRange[key] }}' class="range__res-item {{key}}-price">
									{{ range }}$
									</span>
								{% endfor %}

								<input type="range" min="{{totalPriceRange['min']}}" max="{{totalPriceRange['max']}}" value="{{priceRange['min']}}" name="min" class='input-range' id="rng-min">
								<input type="range" min="{{totalPriceRange['min']}}" max="{{totalPriceRange['max']}}" value="{{priceRange['max']}}" name="max" class='input-range' id="rng-max">
							</div>
						</div>
					</div>

					<fieldset class="custom-form__group">

						{% for tag in tags %}
							<input {% for selectedTag in selectedTags %} {% if selectedTags[loop.index - 1] == tag.id %} {{ 'checked' }} {% endif %} {% endfor %} type="checkbox" name="tag[]" value="{{tag.id}}" id="{{ tag.label }}" class="custom-form__checkbox">
							<label for="{{ tag.label }}" class="custom-form__checkbox-label custom-form__info" style="display: block;">{{ tag.name }}</label>
						{% endfor %}

					</fieldset>
					<button class="button" type="submit" style="width: 100%">Применить</button>
				</form>
			</section>

			<div class="shop__wrapper">
				<section class="shop__sorting">
					<form class='shop__form'>

						<div class="shop__sorting-item custom-form__select-wrapper">
							<select id='sort-filter' class="custom-form__select" name="sort">
								<option hidden="">Сортировка</option>

								<option {% if selectedSort == 'date_asc' %} selected {% endif %} value="date_asc">По дате (возрастание)</option>
								<option {% if selectedSort == 'date_desc' %} selected {% endif %} value="date_desc">По дате (убывание)</option>
								<option {% if selectedSort == 'price_asc' %} selected {% endif %} value="price_asc">По цене (возрастание)</option>
								<option {% if selectedSort == 'price_desc' %} selected {% endif %} value="price_desc">По цене (убывание)</option>
								<option {% if selectedSort == 'name_asc' %} selected {% endif %} value="name_asc">По названию (возрастание)</option>
								<option {% if selectedSort == 'name_desc' %} selected {% endif %} value="name_desc">По названию (убывание)</option>
							</select>
						</div>

					</form>
					<p class="shop__sorting-res">Найдено
						<span class="res-sort">{{ count }}</span>
						моделей</p>
				</section>
				<section class="shop__list">
					{% if products is empty %}
						<h4>Извините ничего не найдено.</h4>
					{% else %}
						{% for product in products %}
							<article data-id="{{ product.id }}" class="shop__item product" tabindex="0">
								<div class="product__image">
									<img src="{{ product.image }}" alt="product-name">
								</div>
								<p class="product__name">{{ product.name }}</p>
								<span class="product__price">{{ product.price }}
									$</span>
							</article>
						{% endfor %}
					{% endif %}

				</section>
				<ul class="shop__paginator paginator">
					{% if products %}
						{% for key, page in pages %}
							{% if page %}
								<li>
									<a href="{{page}}" class="paginator__item {% if page == currentURL %} active {% endif %}">{{ key }}</a>
								</li>
							{% endif %}

						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</section>

		<section class="shop-page__popup-end" hidden="">
			<div class="shop-page__wrapper shop-page__wrapper--popup-end">
				<h2 class="h h--1 h--icon shop-page__end-title">Спасибо за заказ!</h2>
				<p class="shop-page__end-message">Ваш товар успешно додан в корзину</p>
				<button class="button">Продолжить покупки</button>
				<a style='margin: 20px 0;' href="{{constant('BASE_URL')}}/cart" class="button">Перейти в корзину</a>
			</div>
		</section>
	</main>
